

<h4>Burası Member Area - AppUser Controller - index action</h4>

<div class="row">
    <div class="col md-9">
        @await Component.InvokeAsync("ArticlesWith")
    </div><br /><hr />
    <div class="col md-3">
        @await Component.InvokeAsync("FollowedCategory")
    </div><br /><hr />
    <div class="col md-3">
        @await Component.InvokeAsync("OldUser")
    </div><br /><hr />
    
</div>