

@model LoginDTO


<div class="row">
    <div class="card col-md-8 offset-2">
        <div class="card-text">
            <h4>Giriş Paneli</h4>
        </div>
        <div class="card-body">
            <form asp-action="Login" method="post">
                <div class="form-group">
                    <label asp-for="Email" class="form-control"></label>
                    <input asp-for="Email" class="form-control" type="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="form-control"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <input asp-for="ReturnUrl" type="hidden" />@*//ReturnUrl postta tekrar kullanabileyim diye ekliyorum. viewda gömüyorum id gibi düşün*@
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="GİRİŞ YAP" />
                </div>
            </form>
        </div>
    </div>
</div>