@*sayfaya gelen model bilgisi var mı*@

@model RegisterDTO

<div class="row">
    <div class="card col-md-8 offset-2">
        <div class="card-text"> Kişi Kayıt Paneli</div>
        <div class="card-body">
             <form asp-action="Register" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="FirstName" class="form-control"></label>
                    <input asp-for="FirstName" type="text"  class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="form-control"></label>
                    <input asp-for="LastName" type="text"  class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="form-control"></label>
                    <input asp-for="UserName" type="text"  class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="form-control"></label>
                    <input asp-for="Email" type="email"  class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="form-control"></label>
                    <input asp-for="Password" type="password"  class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="form-control"></label>
                    <input asp-for="Image" type="file"  class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                   <input type="submit" class="btn btn-success" value="KAYIT OL" />
                </div>
            </form>
        </div>
    </div>
</div>